*.a
*.gcda
*.gcno
*.lineno
*.lo
*.o
*~
.deps/
.libs/
/Makefile
/Makefile.in
/libdbus-gmain.la
/test-suite.log
/tests/*.log
/tests/*.trs
/tests/libtest.la
/tests/test-30574
/tests/test-thread-client
/tests/test-thread-server
